Section 9 Coding Exercise/5 Handwritten Digit Recognition with MNIST dataset/har_data.csv
Section 9 Coding Exercise/4 Spam Email Detector using Scikit-learn/spam.csv
Section 9 Coding Exercise/13 Dog vs. Cat Classifier with CNN/data/
Section 9 Coding Exercise/13 Dog vs. Cat Classifier with CNN/cat_dog_model.keras
Section 9 Coding Exercise/15 Credit Card Fraud Detection using Scikit-learn/data
Section 9 Coding Exercise/19 Fake Product Review Detection using NLP techniques/data
Section 9 Coding Exercise/23 Identify Fake News using Naive Bayes/data