Section 4 Day 3 - Introduction to machine Learning (ML)/housing.csv
Section 5  Day 4 - Classification Models in Machine Learning/spam_data.csv
Section 9 Coding Exercise/4 Spam Email Detector using Scikit-learn/spam.csv
Section 9 Coding Exercise/5 Human Activity Recognition/har_data.csv
Section 9 Coding Exercise/13 Dog vs. Cat Classifier with CNN/data/
Section 9 Coding Exercise/13 Dog vs. Cat Classifier with CNN/cat_dog_model.keras
Section 9 Coding Exercise/15 Credit Card Fraud Detection using Scikit-learn/data
Section 9 Coding Exercise/17 Simple Personal Assistant using Python speech libraries/speechenv
Section 9 Coding Exercise/19 Fake Product Review Detection using NLP techniques/data
Section 9 Coding Exercise/23 Identify Fake News using Naive Bayes/data
Section 9 Coding Exercise/25 Customer Churn Prediction using classification algorithms/data
Section 9 Coding Exercise/27 Predict Employee Attrition using XGBoost/data
Section 9 Coding Exercise/28 Disease Prediction (e.g., Heart Disease) using ML algorithms/data
Section 9 Coding Exercise/29 Movie Rating Prediction using Collaborative Filtering/data
Section 9 Coding Exercise/30 Automatic Essay Grading using BERT/data